@import url(./components.css);
@import url(./global.css);

.container {
  margin: auto;
  max-width: 1440px;
  min-height: 100%;
  display: flex;
  justify-content: center;
}
.profile-container {
  margin: auto 20px;
  max-width: 400px;
  min-height: 100%;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
}
.profile-container img {
  max-width: 96px;
  min-height: 96px;
  margin: auto;
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
  bottom: -48px;
}
.banner-bg {
  display: flex;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background: url(../images/bg-pattern-card.svg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-bg::after {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--color-dgray);
  position: absolute;
  top: 300px;
}
.profile-info {
  max-width: 100%;
  padding: 60px 60px 30px 60px;
  text-align: center;
}
.profile-info > p {
  margin-top: 8px;
  font-size: 0.875rem;
}
.stats-info {
  width: 100%;
  height: 100%;
  display: grid;
  padding-top: 60px;
  grid-template-columns: auto auto auto;
  column-gap: 60px;
  text-align: center;
  justify-content: center;
}
.stats-info p {
  font-size: 0.75rem;
  letter-spacing: 1px;
}
@media (max-width: 450px) {
  .container {
    max-width: 375px;
  }
  .profile-container {
    width: 350px;
  }
}
